<h1>Listing meetings</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Lesson</th>
      <th>Section</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.date %></td>
        <td><%= meeting.lesson %></td>
        <td><%= meeting.section %></td>
        <td><%= link_to 'Show', [meeting.section, meeting] %></td>
        <td><%= link_to 'Edit', edit_section_meeting_path(meeting.section, meeting) %></td>
        <td><%= link_to 'Destroy', [meeting.section, meeting], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting', new_section_meeting_path %>
