<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @meeting.lesson %>
</p>

<p>
  <strong>Section:</strong>
  <%= @meeting.section %>
</p>

<%= link_to 'Edit', edit_section_meeting_path(@meeting.section, @meeting) %> |
<%= link_to 'Back', section_meetings_path %>
